.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



div.float-left {float:left;}

div.float-top {float:top;}

div.grayborder {border:2px solid gray;}

div.whiteborder {border:2px solid white;}

p.line-space {line-height:1.2;}

p.line-space-card {line-height:0.4;}

button.text-small {font-size: 1;}



p.overflow-hidden {
  white-space: nowrap; 
  width: 175px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
